n8n-workflows/contract-upload-workflow.json
{
  "name": "Contract Upload Processing Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contract-upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "contract-upload-webhook",
      "name": "Contract Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "contract-upload-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Extract file and metadata from the request\nconst file = $input.first().binary.file;\nconst metadata = $input.first().json;\n\nif (!file) {\n  throw new Error('No file provided');\n}\n\nif (!metadata.indent_number || !metadata.firm_name) {\n  throw new Error('Missing required metadata: indent_number and firm_name');\n}\n\n// Generate filename: Firm_Name_Indent_Number_PurchaseContract.pdf\nconst sanitizedFirmName = metadata.firm_name.replace(/[^a-zA-Z0-9]/g, '_');\nconst filename = `${sanitizedFirmName}_${metadata.indent_number}_PurchaseContract.pdf`;\n\nreturn {\n  filename: filename,\n  indent_number: metadata.indent_number,\n  firm_name: metadata.firm_name,\n  uploaded_by: metadata.uploaded_by || 'user',\n  file_data: file.data,\n  file_mimetype: file.mimeType || 'application/pdf'\n};"
      },
      "id": "process-upload-data",
      "name": "Process Upload Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "authentication": "accessKey",
        "resource": "file",
        "operation": "upload",
        "bucketName": "={{ $env.AWS_S3_BUCKET }}",
        "fileName": "contracts/{{ $json.filename }}",
        "isBinaryData": true,
        "binaryDataContent": "={{ $json.file_data }}",
        "additionalFields": {
          "contentType": "application/pdf",
          "serverSideEncryption": "AES256",
          "metadata": {
            "indent_number": "={{ $json.indent_number }}",
            "firm_name": "={{ $json.firm_name }}",
            "uploaded_by": "={{ $json.uploaded_by }}"
          }
        }
      },
      "id": "s3-upload",
      "name": "Upload to S3",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "aws": {
          "id": "aws-credentials",
          "name": "AWS S3 Credentials"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/api/webhook/contract-uploaded",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "indent_number",
              "value": "={{ $node['Process Upload Data'].json.indent_number }}"
            },
            {
              "name": "firm_name",
              "value": "={{ $node['Process Upload Data'].json.firm_name }}"
            },
            {
              "name": "contract_filename",
              "value": "={{ $node['Process Upload Data'].json.filename }}"
            },
            {
              "name": "contract_s3_url",
              "value": "={{ $json.Location }}"
            },
            {
              "name": "uploaded_by",
              "value": "={{ $node['Process Upload Data'].json.uploaded_by }}"
            }
          ]
        }
      },
      "id": "store-contract-record",
      "name": "Store Contract Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fromEmail": "{{ $env.SYSTEM_EMAIL }}",
        "toEmail": "{{ $env.ADMIN_EMAIL }}",
        "subject": "New Contract Upload - Review Required",
        "text": "A new purchase contract has been uploaded and requires your review.\n\nDetails:\n- Indent Number: {{ $node['Process Upload Data'].json.indent_number }}\n- Firm Name: {{ $node['Process Upload Data'].json.firm_name }}\n- Filename: {{ $node['Process Upload Data'].json.filename }}\n- Uploaded By: {{ $node['Process Upload Data'].json.uploaded_by }}\n\nPlease review and approve the contract in the admin dashboard:\n{{ $env.FRONTEND_URL }}/admin/contracts\n\nContract URL: {{ $node['Upload to S3'].json.Location }}",
        "html": "<h2>New Contract Upload - Review Required</h2>\n<p>A new purchase contract has been uploaded and requires your review.</p>\n\n<h3>Contract Details:</h3>\n<ul>\n<li><strong>Indent Number:</strong> {{ $node['Process Upload Data'].json.indent_number }}</li>\n<li><strong>Firm Name:</strong> {{ $node['Process Upload Data'].json.firm_name }}</li>\n<li><strong>Filename:</strong> {{ $node['Process Upload Data'].json.filename }}</li>\n<li><strong>Uploaded By:</strong> {{ $node['Process Upload Data'].json.uploaded_by }}</li>\n</ul>\n\n<p><a href=\"{{ $env.FRONTEND_URL }}/admin/contracts\" style=\"background-color: #3b82f6; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;\">Review in Admin Dashboard</a></p>\n\n<p><a href=\"{{ $node['Upload to S3'].json.Location }}\" target=\"_blank\">View Contract Document</a></p>"
      },
      "id": "notify-admin",
      "name": "Notify Admin",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1120, 300],
      "credentials": {
        "smtp": {
          "id": "system-email-smtp",
          "name": "System Email SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"contract_id\": \"{{ $node['Store Contract Record'].json.contract_id }}\",\n  \"message\": \"Contract uploaded successfully. Admin has been notified for review.\",\n  \"s3_url\": \"{{ $node['Upload to S3'].json.Location }}\"\n}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Contract upload failed: {{ $json.error || 'Unknown error' }}\"\n}",
        "responseCode": 500
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 450]
    }
  ],
  "connections": {
    "Contract Upload Webhook": {
      "main": [
        [
          {
            "node": "Process Upload Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Upload Data": {
      "main": [
        [
          {
            "node": "Upload to S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to S3": {
      "main": [
        [
          {
            "node": "Store Contract Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Contract Record": {
      "main": [
        [
          {
            "node": "Notify Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": {
      "errorWorkflowId": "error-response"
    }
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "contract-upload",
      "name": "contract-upload"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}